<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <sessionState mode="InProc" cookieless="false" timeout="20"></sessionState>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=sql.freeasphost.net\MSSQL2016;Initial Catalog=ahmedismail2110_HomeExpenses;User ID=ahmedismail2110;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="/Items/AllItems.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
